
<div class="col-sm-8 col-md-9 col-lg-4">
    <h4>Applicant details:</h4>
    <table class="table table-borderless">
        <tr>
            <th>Name</th>
            <td>{{ applicant.legal_first_name }}</td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>{{ applicant.legal_dob }}</td>
        </tr>
    </table>
</div>
<div class="col-sm-8 col-md-9 col-lg-4">
    <h4>Address details:</h4>
    <table class="table table-borderless">
            <tr>
                <th>Postal address</th>
                <td>{{ postal_address.line1 }}
                {% if postal_address.line2 %}
                <br>{{ postal_address.line2 }}
                {% endif %}
                {% if postal_address.line3 %}
                <br>{{ postal_address.line3 }}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Town / Suburb</th>
                <td>{{ postal_address.locality }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ postal_address.state }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ postal_address.postcode }}</td>
            </tr>

    </table>
</div>
<div class="col-sm-8 col-md-9 col-lg-4">
    <h4>Contact details:</h4>
    <table class="table table-borderless">
        <tr>
            <th>Phone</th>
            <td>{{ applicant.phone_number }}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{ applicant.mobile_number }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ applicant.email }}</td>
        </tr>
    </table>
</div>

