{% extends "webtemplate_dbca/base_b5_auth_session.html" %}
{% load static %}
{% block base_style %}

{% endblock %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="/static/common/node_modules/bootstrap/dist/css/bootstrap.css?ver={{ GIT_COMMIT_HASH }}	">
	<link rel="stylesheet" type="text/css" href="/static/common/node_modules/datatables.net-bs/css/dataTables.bootstrap.css?ver={{ GIT_COMMIT_HASH }}">
	<link rel="stylesheet" type="text/css" href="/static/common/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css?ver={{ GIT_COMMIT_HASH }}">
	<link rel="stylesheet" type="text/css" href="/static/css/applications.css?ver={{ GIT_COMMIT_HASH }}" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.css?ver={{ GIT_COMMIT_HASH }}" />



        <!-- npm modules -->
	<script type="text/javascript" src="/static/common/node_modules/jquery/dist/jquery.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" src="/static/common/node_modules/datatables/media/js/jquery.dataTables.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" src="/static/common/node_modules/datatables.net-bs/js/dataTables.bootstrap.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" src="/static/common/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" src="/static/common/node_modules/bootstrap/dist/js/bootstrap.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" src="/static/js/moment.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js?ver={{ GIT_COMMIT_HASH }}"></script>

	<script type="text/javascript" language="javascript" src="/static/js/dataTables.buttons.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" language="javascript" src="/static/js/jszip.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" language="javascript" src="/static/js/pdfmake.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" language="javascript" src="/static/js/vfs_fonts.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" language="javascript" src="/static/js/buttons.html5.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script type="text/javascript" language="javascript" src="/static/js/buttons.print.min.js?ver={{ GIT_COMMIT_HASH }}"></script>


        <!-- npm modules -->

        <!-- static js-->
	<script  type="text/javascript" src="/static/js/natural.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/date-dd-MMM-yyyy.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/unsaved_form.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/ajax_jquery_uploader.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/django_ajax_form.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/common.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/raphael.min.js?ver={{ GIT_COMMIT_HASH }}"></script>
	<script  type="text/javascript" src="/static/js/flowchart.js?ver={{ GIT_COMMIT_HASH }}"></script>
        <!-- static js-->


{% endblock %}

{% block base_js %}{% endblock %}

{% block development_header %}
    {% if EMAIL_INSTANCE == 'DEV' or EMAIL_INSTANCE == 'UAT' or EMAIL_INSTANCE == 'TEST'  %}
    <div class="col-lg-12 p-3 {% if request.session.user_obj.is_staff is True %}bg-warning{% else %}bg-danger{% endif %} text-white text-center fs-6" >
        DEVELOPMENT: FOR TESTING ONLY DO NOT USE
    </div>
    {% endif %}
{% endblock %}

{% block header_top_menu %}
{% endblock %}

{% block menu_items_left_brand %}
{% endblock%}

{% block menu_items_left %}

<ul class='nav navbar-nav'>
    <li class="nav-item" ><a class="nav-link" href="/">Dashboard</a></li>
    {% if staff == True %}
        <li class="nav-item" ><a class="nav-link" href="{% url 'application_list' %}" title="Applications">Applications</a></li>
        <li class="nav-item" ><a class="nav-link" href="{% url 'approval_list' %}" title="Approvals">Approvals</a></li>
        <li class="nav-item" ><a class="nav-link" href="{% url 'compliance_list' %}">Clearance of Conditions</a></li>
        <li class='nav-item' ><a class="nav-link" href="{% url 'emergencyworks_list' %}">Emergency works</a></li>
        <li class="nav-item" ><a class="nav-link" href="{% url 'organisation_access_requests' %}" title="Company Access">Company Access</a></li>
        <li class="nav-item" ><a class="nav-link" href="{% url 'search_list' %}">Search</a></li>
    {% else %}
        <li class="nav-item" ><a class="nav-link" href="" title="Contact Us">Contact Us</a></li> 
        <li class="nav-item" ><a class="nav-link" href="" title="Further Information">Further Information</a></li>
    {% endif %}
</ul>

{% endblock %}

<!-- {% if staff == True %}
    <li class='hidden-lg hidden-md'><a href="{% url 'approval_list' %}" title="Applications">Approvals</a></li>
    <li class='hidden-lg hidden-md'><a href="{% url 'application_list' %}" title="Applications">Applications</a></li>
    <li class='hidden-lg hidden-md'><a href="{% url 'emergencyworks_list' %}">Emergency works</a></li>
    <li class='hidden-lg hidden-md'><a href="{% url 'compliance_list' %}">Clearance of Conditions</a></li>
    <li class='hidden-lg hidden-md'><a href="#" title="Company Access">Company Access</a></li>
    <li class='hidden-lg hidden-md'><a href="#">Search</a></li>
{% else %}
    <li class='hidden-lg hidden-md' ><a href="" title="Contact Us">Contact Us</a></li>
    <li class='hidden-lg hidden-md' ><a href="" title="Further Information">Further Information</a></li>
{% endif %} -->
{% block menu_dropdown %}
{% if request.user.is_authenticated %}
        <!-- TODO: change to system-accounts page -->
        <li><a href="{% url "person_details_actions" user.pk "personal" %}">My personal details</a></li>
        <li><a class="dropdown-item" href="/ledger-ui/system-accounts">Manage Account</a></li>
        {% if staff == False %}
        <li><a href="{% url "person_details_actions" user.pk "companies" %}" title="My Companies">My Companies</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}" title="Administration">Administration</a></li>
        {% endif %}
        {% if staff == True %}
        <li><a href="{% url 'application_flows' %}" title="Flows">Flows</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}" title="Log out">Log out</a></li>
{% endif %}
{% endblock %}
{% block menu_spacer %}
    {% endblock %}
{% block messages %}
<!-- Messages  -->
{% if messages %}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message|safe }}
            </div>
        {% else %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                {{ message|safe }}
            </div>
        {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock messages %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            {% block page_content_inner %}{% endblock %}
            <iframe src="/blank.html" name="file_load_frame" height="300px" width="100%" title="File Load Frame" style='display:none'></iframe>

        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container">
    <div id="footer">
        <div class="container-fluid">
            <hr>
            <div class="row">
                <div class="col-xs-9 text-muted">
                    <small>v{{ project_version }}, Commit: {{ project_last_commit_date }} &copy; Department of Parks and Wildlife</small>
                </div>
                <div class="col-xs-3 text-muted text-right">
                    {% if object.routeid %}
                    <small> Form Step: {{ object.routeid }} </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.overtop-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    /* overflow: hidden; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

select.form-control {
  appearance: auto !important;
}
.modal-backdrop.fade {
    opacity: 0.5 !important;
}
.navbar{
    margin-bottom: 0px;
}

.nav-item {
    background-color: transparent !important;
}

.nav-link {
    color: #6c757d !important; /* Bootstrap's text-secondary (dark gray) */
    background-color: transparent !important;
}

.nav-link:hover,
.nav-link:focus {
    color: #495057 !important; /* Slightly darker gray on hover */
    background-color: transparent !important;
}


.modal.fade .modal-dialog {
  transform: translateY(-100px);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.form-select.is-invalid {
  background-image: var(--bs-form-select-bg-image) !important;
}



</style>
<div class='overtop-modal' id='overtop' style='background-color: rgba(39, 39, 39, 0.5);'>

<div>
 
</div>



</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Unsaved Form Data</h4>
      </div>
      <div class="modal-body">
        <p>Your form has data that has not yet been saved.  Click "Don't Save" to continue without saving or no to cancel and return to your form.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="django_form_checks.loadUrl();">Dont Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(function() {
        // Initialise datepicker widgets.
        $(".dateinput").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>


{% endblock extra_js %}

